@import '../../style/index.scss';
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 1rem;
}

.about-text {
  text-align: left;
  padding: 1rem;

  h1 {
    font-size: 4rem;
    color: $text-metallic-gold;
    margin-bottom: 2rem;
  }

  p {
    font-size: 2rem;
    color: $text-white;
    margin-bottom: 2rem;
  }
}

.about-image {
  img {
    width: 100%; /* Ajusta a imagem para ocupar todo o espaço do container */
    height: 100%;
    object-fit: cover; /* Redimensiona a imagem para preencher o container mantendo sua proporção */
    border-radius: 40px 999em 999em 40px; /* Define o mesmo raio de arredondamento da borda do container */
  }
}
