.detalhes-vaga {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .button-enviar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  p {
    margin: 15px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 20px;
  }

  strong {
    font-weight: bold;
  }
}
