@import '../../style/index.scss';
.mobile-container {
  padding: 5rem 10rem;
  background-color: $bg-dark;
  position: fixed;
  right: 0;
  top: 8.5rem;
  width: 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  transition: 0.1s ease;

  .mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    li {
      font-size: 1.2rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        transition: color 0.5s ease-in-out;
      }
    }
  }

  .mobile-social {
    display: flex;
    gap: 1rem;

    a {
      color: #fff;
    }
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
