@import '../../style/index.scss';
nav {
  display: flex;
  gap: 5rem;

  
  ul.navigation {
    display: flex;
    gap: 5rem;

    li {
      font-size: 1.2rem;

      a {
        text-shadow: 1px 1px 2px #000;
        text-decoration: none;
        text-transform: uppercase;
        color: $text-metallic-gold;
        font-weight: bold;
        transition: color 0.5s ease-in-out;
        // &:hover {
        //   color: aqua;
        // }
      }
    }
  }

  ul.social {
    display: flex;
    gap: 2rem;
    a {
      text-shadow: 1px 1px 2px #000;
      text-decoration: none;
      color: $text-metallic-gold;
      font-weight: bold;
    }
  }
}
