@import '../../style/index.scss';
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  gap: 5rem;
}

.contact-text {
  text-align: left;

  h1 {
    font-size: 4rem;
    color: $text-metallic-gold;
    margin-bottom: 2rem;
  }

  p {
    font-size: 2rem;
    color: $text-white;
    margin-bottom: 2rem;
  }
}

.contact-networks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;

    span {
      color: $text-metallic-gold;
    }

    a {
      text-decoration: none;
      color: $text-white;
      font-size: 2rem;
      transition: ease-in-out 0.25s;
    }

    a:hover {
      color: $text-metallic-gold;
    }
  }
}
