@import '../../style/index.scss';
header {
  min-height: 10rem;
  width: 100%;
  z-index: 999;
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &.scrolled {
    background-color: #333;
    background-color: $bg-dark;
    border-bottom: 2px solid $text-metallic-gold;
  }

  img {
    transform: scale(1.25);
    max-width: 20rem;
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  header {
    img {
      transform: scale(1.2);
      max-width: 25rem;
    }
    .menu {
      display: none;
    }

    .mobile-menu {
      display: block;
      color: #fff;
    }
  }
}
