@import '../../style/index.scss';
$card-background-color: #1a1a1a;
$card-border-color: rgba(255, 255, 255, 0.1);
$card-text-color: $text-white;
$button-hover-background-color: #ffc107; // Cor amarela
$button-hover-border-color: transparent;
.card {
  background-color: $card-background-color;
  color: $card-text-color;
  border-radius: 8px;
  border: 2px solid $card-border-color;
  overflow: hidden;
  width: 30rem;
  min-height: 20rem; // Ajuste de acordo com o conteúdo
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  transition: box-shadow 0.3s ease;

  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.8rem;
  }

  button {
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    padding: 1rem 2rem;
    color: $text-white;
    border: 2px solid $button-hover-background-color;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;
    &:hover {
      background-color: $button-hover-background-color;
      color: #1a1a1a;
      border-color: transparent;
    }
  }
}
