$bg-dark: #111111;
$bg-white: #eaebe9;
$bg-gold: #ffd700;
$bg-gray: #696969;

$text-dark: #111111;
$text-white: #eaebe9;
$text-goldenrod: #daa520;
$text-metallic-gold: #d4af37;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: $bg-dark;
  overflow-y: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li,
ol {
  list-style: none;
}
