@import '../../../style/index.scss';
.divider {
  display: block;
  width: 100%;
  height: 1px; /* Altura da linha do separador */
  background-color: $text-metallic-gold; /* Cor da linha do separador */
  margin: 2rem 0; /* Margem superior e inferior para o separador */
}
.questions-title {
  font-size: 3rem;
  color: $text-white;
  text-align: left;
  padding-left: 8rem;
  text-transform: uppercase;
  max-width: 60rem;
  background-color: $text-metallic-gold;
  border-radius: 40px 999em 999em 40px;
  margin: 5rem 0 5rem;
}

.questions-container {
  padding: 1rem;

  div {
    width: 386px;
    height: 466px;
    margin: 0px 1px 37px 0px;
    border-radius: 15px;
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 32px 25px 43px 25px;
    h1 {
      // width: 165px;
      // height: 72px;
      // margin: 0 129px 19px 1px;
      font-family: Matter;
      font-size: 4rem;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: 1px;
      color: $text-metallic-gold;
    }

    h2 {
      font-size: 2rem;
      color: $text-metallic-gold;
      // width: 284px;
      /* height: 85px; */
      margin: 1rem 1rem 2rem 0;
      font-family: Manrope;
      font-size: 2.8rem;
      line-height: 1.36;
      letter-spacing: -0.21px;
    }

    p {
      font-size: 1.8rem;
      color: $text-dark;
      margin-bottom: 2rem;
      line-height: 2.5rem;
    }
  }
}

.questions-container-alternative {
  padding: 1rem;
  width: 386px;
  height: 466px;
  margin: 0px 1px 37px 0px;
  border-radius: 15px;
  text-align: left;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 32px 25px 43px 25px;

  .container {
    h1 {
      // width: 165px;
      // height: 72px;
      // margin: 0 129px 19px 1px;
      font-family: Matter;
      font-size: 2.5rem;

      line-height: 1.63;
      letter-spacing: 1px;
      color: $text-metallic-gold;
    }

    h2 {
      font-size: 1.8rem;
      color: $text-metallic-gold;
      // width: 284px;
      /* height: 85px; */
      margin: 1rem 1rem 2rem 0;
      font-family: Manrope;
      font-size: 2rem;
      line-height: 1.36;
      letter-spacing: -0.21px;
    }

    p {
      font-size: 1.8rem;
      color: $text-dark;
      margin-bottom: 2rem;
      line-height: 2.5rem;
    }
  }
}

.questions-container-alternative {
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
  }
  img {
    width: 60%; /* Ajusta a imagem para ocupar todo o espaço do container */
    height: 60%;
  }
}

@media (max-width: 768px) {
  .questions-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .questions-title {
    font-size: 3rem;
    margin-top: 2rem;
  }
}
